
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />

    <style>
        html, body {
        }
    </style>
</head>

<body background="~/images/guIaxs.jpg">


    <div>
        <div class="bg-layer">
            <h1 style="color:#007cc0">Note Sharing </h1>
            <div class="header-main" style="">
                <div class="main-icon">
                    <span class="fa fa-eercast"></span>
                </div>
                <div class="header-left-bottom">
                    <form  method="post" action="@Url.Action("Index", "Home")">
                        <div class="icon1">
                            <span class="fa fa-user"></span>
                            <input type="text" name="Name" placeholder="name" required="">
                        </div>
                        <div class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" name="Password" placeholder="Password" required="">
                        </div>
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me logged in</label>
                        </div>
                        <div class="bottom">
                            <button id="loginButton" class="btn">Log In</button>
                        </div>
                        <div class="links">
                            <p><a href="#">Forgot Password?</a></p>
                            <p class="right"><a href="#">New User? Register</a></p>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <div class="social">
                    <ul></ul>
                </div>
            </div>


        </div>
    </div>
    <script>


    </script>
</body>

</html>

